<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky border border-top-1  h-100">
            <div class="list-group list-group-flush mx-3 mt-4 border-end-1 border-bottom-0 h-75">
                <a href="#" class="nav-link text-dark-emphasis my-2" aria-current="true">
                    <i class="me-sm-2"></i>
                    <span class="ms-sm-1">Home</span>
                </a>
                <a href="#" class="nav-link  my-2">
                    <i class="bi bi-caret-right me-sm-2"></i>
                    <span class="ms-sm-1">All files</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis  my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Recents</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Starred</span>
                </a>
                <a href="#" class="link-secondary text-dark-emphasis link-offset-2 my-2">
                    <i class="me-sm-2 "></i>
                    <span class="ms-sm-1">Deleted files</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis my-2">
                    <i class="me-sm-2 "></i>
                    <span class=" ms-sm-1">File requests</span>
                </a>
                <a href="#" class="nav-link text-dark-empshasis my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Shared</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis mt-auto">
                    <i class="me-sm-2"></i>
                    <span class=" ms-sm-1">Privacy & legal</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <!-- <a class="navbar-brand" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="25" alt="MDB Logo" loading="lazy" />
            </a> -->
            <!-- Search form -->
            <form class="d-none d-md-flex input-group  w-auto my-auto ms-auto">
                <span class="input-group-text border-end-0"><i class="bi bi-search"></i></span>
                <input autocomplete="off" type="search" class="form-control border border-start-0" placeholder='Search'
                    style="min-width: 350px;" />
            </form>

            <!-- Right links -->
            <ul class="navbar-nav  d-flex flex-row ms-sm-2">
                <!-- Notification dropdown -->
                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" href="#" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell"></i>
                    </a>
                </li>

                <!-- Icon -->
                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" href="#">
                        <i class="bi bi-question-circle"></i>
                    </a>
                </li>



                <!-- Avatar -->
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#" id="navbarDropdownMenuLink" role="button"
                        aria-expanded="false">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->