<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky border border-top-1  h-100">
            <div class="list-group list-group-flush mx-3 mt-4 border-end-1 border-bottom-0 h-75">
                <a href="#" class="nav-link text-dark-emphasis my-2" aria-current="true">
                    <i class="me-sm-2"></i>
                    <span class="ms-sm-1">Home</span>
                </a>
                <a href="#" class="nav-link  my-2">
                    <i class="bi bi-caret-right me-sm-2"></i>
                    <span class="ms-sm-1">All files</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis  my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Recents</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Starred</span>
                </a>
                <a href="#" class="link-secondary text-dark-emphasis link-offset-2 my-2">
                    <i class="me-sm-2 "></i>
                    <span class="ms-sm-1">Deleted files</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis my-2">
                    <i class="me-sm-2 "></i>
                    <span class=" ms-sm-1">File requests</span>
                </a>
                <a href="#" class="nav-link text-dark-empshasis my-2">
                    <i class=" me-sm-2"></i>
                    <span class=" ms-sm-1">Shared</span>
                </a>
                <a href="#" class="nav-link text-dark-emphasis mt-auto">
                    <i class="me-sm-2"></i>
                    <span class=" ms-sm-1">Privacy & legal</span>
                </a>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <!-- <a class="navbar-brand" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="25" alt="MDB Logo" loading="lazy" />
            </a> -->
            <!-- Search form -->
            <form class="d-none d-md-flex input-group  w-auto my-auto ms-auto">
                <span class="input-group-text border-end-0"><i class="bi bi-search"></i></span>
                <input autocomplete="off" type="search" class="form-control border border-start-0" placeholder='Search'
                    style="min-width: 350px;" />
            </form>

            <!-- Right links -->
            <ul class="navbar-nav  d-flex flex-row ms-sm-2">
                <!-- Notification dropdown -->
                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" href="#" id="navbarDropdownMenuLink" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bell"></i>
                    </a>
                </li>

                <!-- Icon -->
                <li class="nav-item">
                    <a class="nav-link me-3 me-lg-0" href="#">
                        <i class="bi bi-question-circle"></i>
                    </a>
                </li>



                <!-- Avatar -->
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#" id="navbarDropdownMenuLink" role="button"
                        aria-expanded="false">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->





<main style="margin-top: 58px;">
    <div class="container pt-4">
        <div class="d-flex justify-content-between align-items-center mt-2">
            <h4 class="mb-4">My Model</h4>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-list"></i>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Item 1</a></li>
                    <li><a class="dropdown-item" href="#">Item 2</a></li>
                    <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-upload me-sm-1"></i> Upload
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Item 1</a></li>
                    <li><a class="dropdown-item" href="#">Item 2</a></li>
                    <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
                <button type="button" class="btn btn-secondary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
                    aria-expanded="false"> <i class="bi bi-plus-lg me-sm-1"></i> Create</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Item 4</a></li>
                    <li><a class="dropdown-item" href="#">Item 5</a></li>
                    <li><a class="dropdown-item" href="#">Item 6</a></li>
                </ul>
                <button type="button" class="btn btn-secondary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
                    aria-expanded="false"> <i class="bi bi-folder2 me-sm-1"></i> Organize</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Item 7</a></li>
                    <li><a class="dropdown-item" href="#">Item 8</a></li>
                    <li><a class="dropdown-item" href="#">Item 9</a></li>
                </ul>
                <button type="button" class="btn btn-secondary me-2 rounded-0"><i class="bi bi-three-dots"></i></button>
            </div>

        </div>



        <div class="container-fluid mx-auto mt-4">
            <div class="container d-flex justify-content-between  ">
                <div class="text1 d-flex">
                    <h6 class="me-sm-2 ">Suggested from your activity</h6> <i class="bi bi-info-circle"></i>
                </div>
                <div class="text2">
                    <p>
                        <a href="#"
                            class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            Show
                        </a>
                    </p>
                </div>
            </div>
            <hr class="my-1">
        </div>



    </div>
</main>