<div class="d-flex justify-content-between align-items-center mt-2">
  <h4 class="mb-4">My Model</h4>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="bi bi-list"></i>
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Item 1</a></li>
      <li><a class="dropdown-item" href="#">Item 2</a></li>
      <li><a class="dropdown-item" href="#">Item 3</a></li>
    </ul>
  </div>
</div>
<div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="bi bi-upload me-sm-1"></i> Upload
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Item 1</a></li>
      <li><a class="dropdown-item" href="#">Item 2</a></li>
      <li><a class="dropdown-item" href="#">Item 3</a></li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
      aria-expanded="false"> <i class="bi bi-plus-lg me-sm-1"></i> Create</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Item 4</a></li>
      <li><a class="dropdown-item" href="#">Item 5</a></li>
      <li><a class="dropdown-item" href="#">Item 6</a></li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle me-2 rounded-0" data-bs-toggle="dropdown"
      aria-expanded="false"> <i class="bi bi-folder2 me-sm-1"></i> Organize</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Item 7</a></li>
      <li><a class="dropdown-item" href="#">Item 8</a></li>
      <li><a class="dropdown-item" href="#">Item 9</a></li>
    </ul>
    <button type="button" class="btn btn-secondary me-2 rounded-0"><i class="bi bi-three-dots"></i></button>
  </div>

</div>



<div class="container-fluid mx-auto mt-4">
  <div class="container d-flex justify-content-between  ">
    <div class="text1 d-flex">
      <h4 class="me-sm-2">Suggested from your activity</h4> <i class="bi bi-info-circle mt-1"></i>
    </div>
    <div class="text2">
      <p>
        <a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          Show
        </a>
      </p>
    </div>
  </div>
  <hr class="my-1">
</div>

<app-table-main></app-table-main>